.matriz {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.titulo-matriz {
    margin-left: 60px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
}

.titulo-matriz h1 {
    color: white;
    font-size: 26px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 300;

}

.titulo-matriz h2 {
    color: #c9c9c9;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 100;

}