.navbar {
    position: absolute;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.logo {
    color: white;
    width: 210px;
    font-size: 24px;
}