.poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.poster img {
    width: 1300px;
    height: auto;
    margin-right: 10px;
    margin-top: -100px;
}

.poster p {
    color: white;
    font-size: 2.5rem;
    margin-top: -220px;
    font-size: 36px;
    text-align: center;
    white-space: pre-line;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2.8px;
}