.poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poster img {
    width: 55vw;
    height: auto;
    margin-right: 10px;
    margin-top: -80px;
}

.poster p {
    color: white;
    font-size: 2.5rem;
    margin-top: -100px;
    font-size: 36px;
}